@font-face {
  font-family: "iconfont"; /* Project id 4189119 */
  src: url('iconfont.woff2?t=1691380162095') format('woff2'),
       url('iconfont.woff?t=1691380162095') format('woff'),
       url('iconfont.ttf?t=1691380162095') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-success:before {
  content: "\e600";
}

.icon-weixinzhifu1:before {
  content: "\e601";
}

.icon-icon_down:before {
  content: "\e62e";
}

.icon-icon_up:before {
  content: "\e632";
}

